body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #d4d3d4;
  color: #333;
}
header{
  margin: 0;
  padding: 5px;
  background: darkgrey;
  border-radius: 16px;
  display: block;
  border: 1px solid lightgrey;
}
header input, #name{
  justify-content: space-between;
  margin-block: 6px;
  height: 22px;
  border-radius: 12px;
  padding-left: 5px;
  border: 1px solid grey;
}
header img{
  width: 90px;
  height: 90px;
  cursor: pointer;
  border-radius: 45px;
  border: 1px solid gray;
}
h3{
  font-size: 25px;
  margin-left: 5px;
  text-align: center;
  background: white;
  padding: 3px;
  font-style: italic;
  font-weight: bold;
  color: green;
}
h2{
  font-weight: bold;
}
h4{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.sell{
  padding: 10px;
  background: lightsteelblue;
  
  
}
form input{
  display: block;
  margin-block: 6px;
 
}
.story{
  padding: 10px;
  max-height: 120px;
  overflow: hidden;
  width: 280px;
  background: #fff;
  margin-top: 10px;
  margin-left: 5%;
  color: #000;
  border-radius: 12px;
  border: 1px solid darkgray;
}
#name{
  margin-left: 5px;
}
.button__loader {
  display: none;
  margin-top: 18px;
  margin-bottom: 22px;
  border: none;
  outline: none;
  position: relative;
  padding: 1.25rem 2.5rem;
  background-color: var(--first-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: .5rem;
  box-shadow: 0 18px 40px hsla(231, 56%, 56%, .3);
  overflow: hidden;
  cursor: wait;
}

.button__loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(60deg, 
              transparent, 
              transparent 0.75rem, 
              var(--first-color-alt) 0.75rem, 
              var(--first-color-alt) 1.5rem);
  animation: load 1s infinite linear;
}

.button__text {
  position: relative;
}

/* Loading button animation */
@keyframes load {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1.75rem);
  }
}
/*=============== LOADING BUTTON ===============*/
button{
  background: blue;
  color: white;
  width: 97px;
  height: 40px;
  margin-top: 18px;
  margin-bottom: 18px;
  border-radius: 10px;
}
